.stub-details {
    width: min(30rem,100%);
    background-color: #181818;
    padding: var(--space-lg);
    border-radius: var(--radius-sm);
    box-shadow: 0px 0px 50px rgba(27, 27, 27, 0.782);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    position: fixed;
    left: 50%;
    bottom: 0%;
    z-index: 99;
    transform: translate(-50%);
}

.stub-details div{
    align-self: flex-end;

}

.stub-details form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--space-md);
}

form label {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    font-weight: 500;
}

.input{
    padding: var(--space-md);
    color: white;
    background-color: transparent;
    border: 1px solid rgb(44, 44, 44);
    border-radius: var(--radius-xs);
    outline: none;
    font-size: var(--font-md);
}

form label span {
    font-size: var(--font-sm);
    font-style: italic;
    font-weight: 500;
    color: rgb(103, 103, 103);
}

form textarea{
    max-width: 100%;
    max-height: 6rem;
}

.place-holder::-webkit-input-placeholder{
    font-size: var(--fonts-sm);
    font-style: italic;
    font-weight: 500;
}

.active:focus {
    border-color: rgb(82, 82, 82);
}