.crop-area {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

canvas {
    max-width: 800px;
    max-height: 600px;
    position: relative;
}

.cropper {
    width: 5rem;
    height: 5rem;
    background-color: #2424242a;
    border: 1px solid rgba(24, 24, 24, 0.718);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.cropper .handle{
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
}