.upload-image{
    width: 100%;
    height: 30vh;
    /* height: 50%; */
    /* flex-grow: 0.5; */
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
}

.upload-image .upload-btn{
    padding: var(--space-lg) var(--space-xl);
    border-radius: var(--radius-sm);
    border: 1px dashed var(--primary);
    outline: none;
    display: flex;
    align-items: center;
    gap: var(--space-md);
    justify-content: center;
    transition: var(--transition-fst);
}

.upload-btn:hover{
    background-color: var(--secondary);
    box-shadow: var(--shadow);
}
.upload-btn:active{
    transform: scale(0.95);
}

.upload-image p{
    width: 30ch;
    font-size: var(--font-md);
    color: rgba(35, 35, 35, 0.934);
    text-wrap: wrap;
    text-align: center;
}

.template-section{
    flex-grow: 1;
    position: relative;
}

.template-section div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-style: italic;
    color: gray;
}